.base-main {
    position: absolute;
    left: 30.07%;
    right: 2.75%;
    top: 12.15%;
    bottom: 74.24%;
    background: #660162;
    width: 33pc;
    height: 2pc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 33pc
}
    
.base-second {
    position: absolute;
    left: 30.05%;
    right: 2.39%;
    top: 13.60%;
    bottom: 6.06%;
    background: #612606;
    border-radius: 15px;
    width: 33pc;
    height: 30pc;
    max-width: 33pc
}


.base-main {
    position: absolute;
    left: 30.07%;
    right: 2.75%;
    top: 12.15%;
    bottom: 74.24%;
    background: #660162;
    width: 33pc;
    height: 2pc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 33pc
}

.base-second {
    position: absolute;
    left: 30.05%;
    right: 2.39%;
    top: 13.60%;
    bottom: 6.06%;
    background: #612606;
    border-radius: 15px;
    width: 33pc;
    height: 30pc;
    max-width: 33pc
}

.view-number {
    box-sizing: border-box;
    position: absolute;
    left: 24pc;
    width: 507px;
    height: 40px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 4px;
    top: 7pc;
}

.createdby {
    position: relative;
    left: 22pc;
    top: 35pc;
    color: darkgray;
}

.first-button {
    box-sizing: border-box;
    position: absolute;
    left: 31.66%;
    right: 11.15%;
    bottom: 55.48%; 
    background: #9A9A9A;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 95px;
    height: 95px;
}

.txt-one {
    color: white;
    position: absolute;
    left: 25.8pc;
    font-size: 100px;
}
